body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

#sidebar-wrapper {
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.logo {
  width: 80%;
  margin: 20px auto;
  display: block;
}

#page-content-wrapper {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 20px;
}

.container-fluid {
  max-width: 950px;
  margin: 0 auto;
}

.list-group-item-action:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

section {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#vis1, #vis2 {
  width: 100%;
  height: 500px; /* Altura fixa para o gráfico */
}


.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.mt-3{
  text-align: center;
}