body {
  font-family: Arial, sans-serif;
}

#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 300px; /* Aumentei a largura do menu */
  transition: all 0.3s ease-in-out;
}

#page-content-wrapper {
  width: 100%;
  padding: 20px;
}

.container-fluid {
  max-width: 900px;
  margin: 0 auto;
}

.list-group-item-action:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

section {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card {
  border: none;
  border-radius: 10px;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}